
.doctor-assignment {
  background: white;
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 25px;
}

.section-title {
  font-size: 22px;
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 20px;
}

.doctor-info {
   display: flex;
  flex-direction: row;
  justify-content: space-between; 
  gap: 30px;
   flex-wrap: wrap;
}

.info-item {
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.info-label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  color: var(--text-light);
}

.info-icon {
  font-size: 16px;
  margin-right: 12px;
  color: var(--primary);
}
.info-value {
  font-size: 18px;
  font-weight: 500;
  padding-left: 28px;
}